<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Start Using Your NUDGYT Account Today!</title>
  </head>
  <body>
    <br />
    <img
      src='https://placehold.co/600x400'
      alt='Company Logo'
      style='display: block; margin: 0 auto; width: 300px;'
    />
    <br />
    <div>
      <div
        style='width: 80%; position: relative; margin: 0 auto; padding: 50px 50px; border-radius: 10px'
      >
        <h2
          style='text-align: left; color: #0096CC; font-family: Arial; '
        >Start Using Your NUDGYT Account Today!</h2>
        <br />
        <p
          style='text-align: left; color:#102B37; font-family: Arial; '
        >Dear {{fullName}}</p>
        <br />
        <p
          style='text-align: left; color: #102B37; font-family: Arial; '
        >We're thrilled to share some exciting news!</p>
        <br />
        <p
          style='text-align: left; color: #102B37; font-family: Arial; '
        >You can now create your very own admin account on the NUDGYT Simulation platform.</p>
        <p style='text-align: center; margin: 50px 0px 50px 0px'>
          <a
            href='{{{url}}}'
            style='display: inline-block; padding: 10px 50px; background-color: #1A4595; color: #fff; text-decoration: none; border-radius: 5px; border: none; font-family: Arial; font-weight: 600'
          >Sign Up</a>
        </p>
        <p
          style='text-align: left; color: #102B37; font-family: Arial; '
        >Join us in shaping the future of education today! </p>

        <br />
        <p
          style='text-align: left; color: #102B37; font-family: Arial; '
        >Best regards,</p>
        <p
          style='text-align: left; color: #102B37; font-family: Arial; '
        >The NUDGYT Team</p>
        <br />
      </div>
    </div>
  </body>
</html>
