<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Don’t Miss Out – Continue Your Learning Journey!</title>
</head>
<style>
    * {
        font-family: "Inter", sans-serif;

        @media (min-width: 768px) {
            body {
                background-color: #f9fafb;
            }

            main {
                box-shadow: 0px 1px 3px 0px #0000000d;
            }

            .container {
                display: grid;
                place-items: center;
            }
        }
    }
</style>

<body>
    <div class="container" style="display: grid; height: 100vh">
        <main style="
          max-width: 528px;
          width: Fixed (528px) px;
          height: Hug (806px) px;
          padding: 40px 24px 24px 24px;
          gap: 40px;
          border-radius: 8px 0px 0px 0px;
          opacity: 0px;
          background-color: #fff;
        ">
            <img style="height: 40px; object-fit: contain; margin-bottom: 40px" src="{{{logoUrl}}}" />

            <div>
                <h1 style="font-size: 20px; margin: 0; margin-bottom: 40px">
                    Don’t Miss Out – Continue Your Learning Journey!
                </h1>

                <div style="margin-bottom: 40px;">
                    <p style="
              font-size: 16px;
              font-weight: 500;
              line-height: 24.8px;
              text-align: left;
              text-underline-position: from-font;
              color: #727679;
              text-decoration-skip-ink: none;
              margin: 0 0 16px 0;
            ">
                        Dear {{recipient}},
                    </p>

                    <p style="
              font-size: 16px;
              font-weight: 500;
              line-height: 24.8px;
              text-align: left;
              text-underline-position: from-font;
              color: #727679;
              text-decoration-skip-ink: none;
              margin: 0 0 16px 0;
            ">
                        Your 2-week free trial has come to an end, but your learning journey
                        doesn’t have to stop here!
                    </p>

                    <p style="
              font-size: 16px;
              font-weight: 500;
              line-height: 24.8px;
              text-align: left;
              text-underline-position: from-font;
              color: #727679;
              text-decoration-skip-ink: none;
              margin-bottom: 0px;
            ">
                        With a Nudgyt subscription, you’ll continue to enjoy:
                    </p>
                    <ul style="margin: 0; line-height: 24.8px; color: #727679">
                        <li>Unlimited Access to all our interactive simulations</li>
                        <li>Real-Time Feedback to guide your progress</li>
                        <li>Personalized Experiences tailored to help you grow</li>
                    </ul>
                </div>

                <a href="{{{url}}}">
                    <button style="
              text-decoration: none;
              background-color: #5c05f2;
              padding: 12px 32px 12px 32px;
              border-radius: 4px;
              color: #fff;
              border: none;
              cursor: pointer;
              margin-bottom: 40px;
            " onmouseover="this.style.opacity='0.9'" onmouseout="this.style.opacity='1'">
                        Unlock Full Access
                    </button>
                </a>

                <div style="margin-bottom: 40px">
                    <p style="
              font-size: 16px;
              font-weight: 500;
              line-height: 24.8px;
              text-align: left;
              text-underline-position: from-font;
              color: #727679;
              text-decoration-skip-ink: none;
              margin: 0 0 16px 0;
            ">
                        Thank you for being part of Nudgyt. We look forward to supporting
                        you as you continue your growth!
                    </p>
                    <p style="
              font-size: 16px;
              font-weight: 500;
              line-height: 24.8px;
              text-align: left;
              text-underline-position: from-font;
              color: #727679;
              text-decoration-skip-ink: none;
            ">
                        Best regards,
                        <br />
                        The Nudgyt Team
                    </p>
                </div>
                <hr style="margin-bottom: 40px" />
                <div>
                    <img src="{{{logoUrl}}}" style="height: 30px; object-fit: contain" />
                    <p style="font-size: 12px; color: #727679">
                        © 2025 Nudgyt Pte. Ltd. <br />
                        Singapore
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>

</html>