<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Join the NUDGYT AI Simulation Platform!</title>
    </head>
    <body>
        <br>
        <img src="https://placehold.co/600x400" alt="Company Logo" style="display: block; margin: 0 auto; width: 300px;">
        <br>

        <div >
            <div style="width: 80%; position: relative; margin: 0 auto; padding: 50px 50px; border-radius: 10px">
                <p style="text-align: left; color:#102B37; font-family: Arial; ">Dear {{ fullName }}</p>
                <br>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">Get ready to embark on an exciting learning adventure with NUDGYT!</p>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">Your journey begins in our AI Simulation Platform, where immersive experiences await. Join your fellow learners and dive into simulations.</p>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">To join our AI Simulation Platform, simply click the button below:</p>
                <p style="text-align: center; margin: 50px 0px 50px 0px">
                    <a href="{{{ url }}}" style="display: inline-block; padding: 10px 50px; background-color: #1A4595; color: #fff; text-decoration: none; border-radius: 5px; border: none; font-family: Arial; font-weight: 600">Sign Up</a>
                </p>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">We can't wait to see you in our AI Simulation Platform, ready to learn, grow, and make new discoveries!</p>
                <br>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">Best regards,</p>
                <p style="text-align: left; color: #102B37; font-family: Arial; ">The NUDGYT Team</p>
                <br>
            </div>
        </div>
        
    </body>
</html>
